GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
GOOGLE_TAG_MANAGER_ID=GTM-XXXXXXX
GOOGLE_SEARCH_CONSOLE_VERIFICATION=
RESEND_API_KEY=
CONTACT_TO_EMAIL=sales@kappstonerealty.com,yourname@gmail.com
CONTACT_FROM_EMAIL=no-reply@kappstonerealty.com
CONTACT_AUTO_REPLY_FROM_EMAIL=no-reply@kappstonerealty.com
GOOGLE_SHEETS_WEBHOOK_URL=
CRM_WEBHOOK_URL=
